@import './../vars.scss';

form {
  .input {
    margin: auto;
    width: 80%;
    margin-bottom: 16px;

    @media (max-width: $max-mobile-width) {
      margin: 16px;
      width: 90%;
    }

    input, textarea {
      width: 100%;
      padding: 8px;
      margin-top: 4px;
      border: 1px solid $color-green-dark-transparent;

      &[type='submit'] {
        color: $color-blue-dark;
        border: 1px solid $color-blue-dark;
        font-family: 'Lora', serif;
        font-style: italic;
        font-size: 20px;
        text-align: left;
        margin: 0;
        padding: 8px;
        width: auto;
        transition: background-color 0.3s ease-in-out;

        &:hover {
          background: $color-blue-light;
        }
      }
    }

    textarea {
      resize: none;
    }
  }
}

.contact-intro {
  margin-left: 74px;
  margin-bottom: 48px;

  @media (max-width: $max-mobile-width) {
    margin-left: 16px;
  }
}