@import './../app.scss';

.page {
  margin: auto;
  position: relative;

  h1, h2 {
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;

    @media (min-width: $min-desktop-width) {
      text-align: center;
      padding-left: 0;
    }
  }

  h1 {
    top: 0;
    color: $color-green-dark;
    background: $color-green-light;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  h2 {
    font-size: $font-size-medium;
    padding-top: 10px;
    padding-bottom: 10px;
    color: $color-blue-dark;
    background: $color-blue-light;
  }

  img.page-image {
    margin: auto;
    display: block;
    width: 100%;
  }

  p {
    font-size: $font-size-medium;
    margin: 12px auto;
    line-height: 30px;
    color: $color-gray-light;

    @media (max-width: $max-mobile-width) {
      margin: 16px;
    }
  }

  li {
    line-height: 30px;
    font-size: $font-size-medium;
  }

  .next-milestone-title {
    margin-bottom: 16px;
  }

  .next-milestone {
    display: inline;

    .img-container {
      margin: 0;
      width: 100%;
    }

    img {
      height: auto;
    }

    .page-link-text {
      margin-top: -4px;

      @media (max-width: $max-mobile-width) {
        width: 100%;
      }
    }
  }
}