@import './../vars.scss';

.service-header {
  margin: 0 60px 12px 60px;
  div {
    color: $color-header;
    font-size: 18px;
  }
}

.service-intro {
  margin: 0 60px 12px 60px;
  div {
    color: $color-text;
    font-size: 16px;
  }
}