@import './../vars.scss';

.services {
  margin: 0 80px 12px 80px;
  
  h4 {
    margin: 4px 0;
  }

  li {
    color: $color-gray-1;
  }

  .service-header {
    margin: 12px 0;
    div {
      color: $color-header;
      font-size: 18px;
    }
  }
  
  .service-intro {
    margin: 12px 0;
    div {
      color: $color-text;
      font-size: 16px;
    }
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
    margin-top: 4px;
  }

  p {
    margin: 8px 0;
  }

  .service {
    margin: 56px 0;
    border: 1px solid $color-blue-4;

    @media (max-width: $max-mobile-width) {
      margin: 56px 24px;
    }  

    p {
      @media (max-width: $max-mobile-width) {
        margin: 8px 0;
      }
    }
  }

  .service-title {
    background: $color-blue-4;
    padding: 8px;

    > div {
      font-size: 24px;
      color: $color-blue-3;
    }
  }

  .service-content {
    padding: 12px;
  }

  .prices p {
    color: $color-green-1;
  }

  .duration {
    color: $color-red-1;
  }

  .line {
    height: 1px;
    background: $color-blue-1;
  }
}

