@import './../app.scss';

.testimonials {

  margin: auto;

  .testimonial {
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;

    @media (max-width: $max-mobile-width) {
      margin-left: 16px;
    }
  }

  img.page-image {
    margin: auto;
    display: block;
    width: 100%;
  }
  
  .testimonial-separator {
    height: 1px;
    background: $color-red-light;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  blockquote {
    font-style: italic;
    line-height: 32px;
    color: $color-gray-light;
  }

  .testimonial:before {
    background-image: url('./../images/foot-red.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 48px;
    height: 48px;

  content: " ";
    color: $color-green-dark;
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: -10px;
  }

  .testimonial-container:nth-child(2n) .testimonial:before {
    background-image: url('./../images/foot-green.png');
    color: $color-red-dark;
  }

  .testimonial-container:nth-child(3n) .testimonial:before {
    background-image: url('./../images/foot-blue.png');
    color: $color-blue-dark;
  }

  .testimonial-container:nth-child(4n) .testimonial:before {
    background-image: url('./../images/foot-yellow.png');
    color: $color-yellow-dark;
  }
}
