@import './../vars.scss';

.testimonials {

  margin: auto;

  @media (max-width: $max-mobile-width) {
  }

  h1 {
    text-align: center;
    margin-top: 16px;
    margin-bottom: 8px;
    color: $color-blue-1;
  }

  .testimonial {
    margin-top: 32px;
    margin-bottom: 32px;
  }

  .testimonial-separator {
    height: 1px;
    background: $color-red-1;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 32px;
    margin-bottom: 32px;
  }

  blockquote {
    font-style: italic;
    line-height: 32px;
    color: $color-gray-1;

    @media (max-width: $max-mobile-width) {
      font-size: 16px;
    }
  }
}
