@import './../vars.scss';

.testimonials {

  margin: auto;

  .testimonial {
    margin-top: 32px;
    margin-bottom: 32px;
    position: relative;

    @media (max-width: $max-mobile-width) {
      margin-left: 16px;
    }
  }

  .testimonial-separator {
    height: 1px;
    background: $color-red-1;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 32px;
    margin-bottom: 32px;
    opacity: 0.3;
  }

  blockquote {
    font-style: italic;
    line-height: 32px;
    color: $color-gray-1;

    @media (max-width: $max-mobile-width) {
      font-size: 16px;
    }
  }

  .testimonial:before {
    content: "\201C";
    color: $color-green-1;
    font-family: Georgia, serif;
    font-size: 60px;
    font-weight: bold;
    position: absolute;
    top: -10px;
  }

  .testimonial-container:nth-child(2n) .testimonial:before {
    color: $color-red-1;
  }

  .testimonial-container:nth-child(3n) .testimonial:before {
    color: $color-blue-1;
  }
}
