@import './../vars.scss';

.page-link {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  margin: 1px;
  padding: 1px;
  transition: background-color 0.5s ease-in-out;
  color: $color-gray-2;

  &:hover {
    background: $color-gray-1-a10;
  }
  
  .page-link-text {
    margin-top: 12px;
  }

  img {
    width: 20%;
    height: 100%;
    margin-right: 8px;
  }

  h1 {
    font-size: 18px;
    margin: 0;
    color: $color-blue-1;
    margin-bottom: 4px;

    &.small {
      font-size: 14px;
    }
  }

  h2 {
    font-size: 16px;
    margin: 0;
    opacity: 0.5;
  }

  @media (max-width: $max-mobile-width) {
    h1 {
      font-size: 16px;
    }

    h2 {
      font-size: 14px;
    }

    img {
      width: 30%;
    }
  }
}