@import './vars.scss';
@import url('https://fonts.googleapis.com/css?family=Lora:400,400italic');

body {
  margin: auto;
  font-family: 'Lora', serif;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  color: $color-text;
}

* {
  font-weight: 100;
}

#root {
  max-width: $min-desktop-width;
  margin: auto;
}

h1 {
  line-height: 1em;
  font-size: $font-size-large;
}

h2 {
  font-size: $font-size-medium;
}
