@import './vars.scss';
@import url('https://fonts.googleapis.com/css?family=Lora:400,400italic');

body {
  margin: auto;
  font-family: 'Lora', serif;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  color: $color-text;

  // font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  max-width: $min-desktop-width;
  margin: auto;
}

* {
  font-weight: 100;
}
