@import './vars.scss';
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

body {
  margin: auto;
  font-family: 'Muli', sans-serif;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  color: $color-text;

  // font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#root {
  max-width: $min-desktop-width;
  margin: auto;
}

* {
  font-weight: 100;
}

.logo-home {
  display: none;

  @media (max-width: $max-mobile-width) {
    display: block;
    background-image: url('./images/logo_feet_625x242.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 50%;
    height: 150px;
    margin: 64px 0;
  }
}
