@import './vars.scss';

.copyright {
  color: $color-text;
  font-size: 12px;
  text-align: center;
  margin-top: 24px;
  margin-bottom: 12px;

  a {
    text-decoration: none;
    color: $color-blue-3;
  }
}