@import './vars.scss';

.content {
  margin: auto;
  padding-bottom: 32px;

  > h1 {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 8px;
    color: $color-blue-3;
  }
}

.column {
  @media (min-width: $min-desktop-width) {
    max-width: $column-width;
  }
}

h3 {
  font-size: 32px;
  color: $color-gray-1;
  margin: 0;
  margin-bottom: 4px;
}

@media (max-width: $max-mobile-width) {
  h3 {
    font-size: 24px;
  }
}
