$min-desktop-width: 992px;
$max-mobile-width: 991px;
$column-width: 750px;

$color-green-light: #edffe3;
$color-green-dark: #98c67f;

$color-blue-light: #e8f9ff;
$color-blue-dark: #00aeef;

$color-red-light: #ffe4eb;
$color-red-dark: #fe4e80;

$color-yellow-light: #fff7f7;
$color-yellow-dark: #ffc74f;

$color-gray-light: #7c7c7c;
$color-gray-light-transparent: #7c7c7c10;
$color-gray-dark: #333;

$color-leg-yellow: $color-yellow-dark;
$color-leg-blue: $color-blue-dark;
$color-leg-red: $color-red-dark;

$color-text: $color-gray-light;
$color-header: $color-gray-dark;
