$min-desktop-width: 992px;
$max-mobile-width: 991px;
$column-width: 750px;

$color-green-light: #f2f8ee;
$color-green-dark: #98cf85;

$color-blue-light: #eff9fc;
$color-blue-dark: #3bc2e9;

$color-red-light: #fdf2f5;
$color-red-dark: #fe4e80;

$color-yellow-light: #fff7f7;
$color-yellow-dark: #ffc74f;

$color-gray-light: #7c7c7c;
$color-gray-light-transparent: #7c7c7c10;
$color-gray-dark: #333;

$color-leg-yellow: $color-yellow-dark;
$color-leg-blue: $color-blue-dark;
$color-leg-red: $color-red-dark;

$color-text: $color-gray-light;
$color-header: $color-gray-dark;
